body {
  margin: 0em;
  height: 100%;
  background: url("hire.jpg") no-repeat fixed; background-size: cover;
}
@font-face {
font-family: 'Lato';
src:
    local('Lato'),
    local('Lato'),
    url('Lato-Light.ttf');
}
* { 
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
	font-weight: 900;
}
textarea {
  width: 40%;
}
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.is-center {
  text-align: center;
}
.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}
.button-xlarge {
  font-size: 105%;
}
button {
  float: center;
}
#name, #email {
  width: 40%;
}
